@model List<MyJD.Models.Cart>

@{
    ViewBag.Title = "Index";
}

@{
    var ajaxOptions = new AjaxOptions()
        {
            OnSuccess = "RemoveCartSuccess",
            OnFailure = "RemoveCartFailure",
            Confirm = "您确定要从购物车删除这个商品吗？",
            HttpMethod = "Post"
        };
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function RemoveCartSuccess() {
            alert("移除购物车项目成功");
            location.reload();
        }

        function RemoveCartFailure(xhr) {
            alert("移除购物车项目失败 (HTTP状态代码: " + xhr.status + ")");
        }

    </script>
}

<h2>购物车列表</h2>

@using (Html.BeginForm("UpdateAmount", "Cart"))
{
    <table class="table">
        <tr>
            <th>产品名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th></th>
        </tr>

        @{ decimal subTotal = 0;}
        @for (int i = 0; i < Model.Count; i++)
        {
            //计算购买商品总价
            subTotal += Model[i].Product.Price;

            //选择商品数量的菜单只能选择1~10
            var ddlAmountList = new SelectList(Enumerable.Range(1, 10), Model[i].Amount)
            
            @Html.HiddenFor(modelItem => Model[i].Product.Id)
                
            <tr>
                <td>@Html.DisplayFor(modelItem => Model[i].Product.Name)</td>
                <td>NT$ @(Model[i].Product.Price) </td>
                <td>@Html.DropDownListFor(modelItem => Model[i], ddlAmountList)</td>
                <td>NT$ @(Model[i].Product.Price * Model[i].Amount)</td>
                <td>
                    @Ajax.ActionLink()
                </td>
            </tr>    
        }

    </table>
}