<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 京东(JD.COM)-综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>
            @Html.ActionLink("首页", "Index", "Home")
            | @Html.ActionLink("购物车", "Index", "Cart")
            @if (User.Identity.IsAuthenticated)
            {
                @:| @Html.ActionLink("注销", "Logout", "Memeber") 
            }
            else
            {
                @:| @Html.ActionLink("登录", "Login", "Member") 
                @:| @Html.ActionLink("注册", "Register", "Member")
            }
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 京东商城</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
